* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
